In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import transforms
import matplotlib.dates as mdates
import os
import geopandas as gpd
import matplotlib
from datetime import datetime

In [2]:
# # social determinants of health
sdoh_df = pd.read_excel("./data/SDOH_2020_COUNTY_1_0.xlsx", sheet_name="Data")

# unemployment rate dataset
unemp_df = pd.read_excel(
    "./data/Unemployment.xlsx",
    sheet_name="UnemploymentMedianIncome",
    skiprows=[0, 1, 2, 3],
    header=None,
)
unemp_df = pd.DataFrame(unemp_df.values[1:], columns=unemp_df.iloc[0])

# poverty rate dataset
pov_df = pd.read_excel(
    "./data/PovertyEstimates.xlsx",
    sheet_name="PovertyEstimates",
    skiprows=[0, 1, 2, 3],
    header=None,
)
pov_df = pd.DataFrame(pov_df.values[1:], columns=pov_df.iloc[0])

# opioid death rate data
death_df = pd.read_csv("./data/Multiple Cause of Death, 2018-2021, Single Race (2).txt", sep="\t")
death_df = death_df.drop(columns="Notes").dropna()

# geometry shape file
geo_df = gpd.read_file("./data/cb_2022_us_county_500k/cb_2022_us_county_500k.shp")

In [6]:
# set to True if we want to refresh CDC data source
REFRESH_OPIOID_SOURCE = False 

if REFRESH_OPIOID_SOURCE: 
    for i in range(2006, 2021):
        print(f"at: {i}")
        df = pd.read_html(f"https://www.cdc.gov/drugoverdose/rxrate-maps/county{i}.html")[0]
        df['year'] = i
        df.to_csv(f"./data/opioid_rx/{i}.csv")

l = [pd.read_csv(f"./data/opioid_rx/{file}") for file in os.listdir("./data/opioid_rx/")]
df = pd.concat(l)
df = pd.concat(l)
df["Opioid Dispensing Rate per 100"] = (
    df["Opioid Dispensing Rate per 100"].replace("–", np.nan).astype("float32")
)
df

,Unnamed: 0,County,State,County FIPS Code,Opioid Dispensing Rate per 100,year
0,0,"Aleutians East, AK",AK,2013,NaN,2008
1,1,"Aleutians West, AK",AK,2016,NaN,2008
2,2,"Anchorage, AK",AK,2020,75.599998,2008
3,3,"Bethel, AK",AK,2050,NaN,2008
4,4,"Bristol Bay, AK",AK,2060,NaN,2008
...,...,...,...,...,...,...
3138,3138,"Sweetwater, WY",WY,56037,92.000000,2011
3139,3139,"Teton, WY",WY,56039,80.500000,2011
3140,3140,"Uinta, WY",WY,56041,84.099998,2011
3141,3141,"Washakie, WY",WY,56043,83.400002,2011
3142,3142,"Weston, WY",WY,56045,45.400002,2011